.background-color {
    background-color: #355C7D;
}
/* 
#nav-row {
    border: 3px white solid;
} */

#left-nav-col {
    /* border: 3px green solid; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#right-nav-col {
    /* border: 3px red solid; */
    display: flex;
    align-items: center;
}

.left-nav-link{
    display: block;
    overflow: visible;
    text-overflow: ellipsis;
    color: white;
    text-align: center;
}

.right-nav-link {
    display: block;
    overflow: visible;
    text-overflow: ellipsis;
    color: white;
    text-align: center;
    display: flex;
    justify-self: flex-end;
}

.a-home {
    color: white;
    font-family: 'Arial';
    font-size: 1.25em;
    /* border: 3px rgba(246, 114, 128) solid; */
    border-radius: 10px;
    margin-right: 3px;
    text-decoration: none;
    padding: 5px;
}


a:hover {
    background-color: #111;
}

/*____________________________________________________Homepage____________________________________________________*/

#main-homepage-row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px black solid; */
}

#main-left-col {
        border: 3px green solid;
        margin-top: 2%;
        display: flex;
        align-items: center;
}

.homepage-content {
    text-align: center;
    font-size: 5vw;
    color: white;
}

.homepage-subtitle {
    text-align: center;
    font-size: 1.5vw;
    color: white;
}

#logo-col {
    border: 3px red solid;
    padding: 0%;
    margin-top: 2%;
}

.student-home-button {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75em;
    border: 3px rgba(246, 114, 128) solid;
    border-radius: 10px;
    margin-right: 5px;
}

.portal-link {
    text-decoration: none;
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
}

/*_________________________________________________Portals_____________________________________________________*/
.student-portal-container {
    margin-top: 3vh;
}

.portal-login-button {
background-color: white;
color: #355C7D;
font-family: 'Times New Roman', Times, serif;
font-size: 1.25rem;
border: 10px #6C5B7B solid;
border-radius: 10px;
padding: .25rem 1.25rem;
}

/*_________________________________________________Teacher Profile_____________________________________________*/
.card {
background-color: #FCD5BE;
border-radius: .5em;
/* margin: .5em; */
}

#tp-row-1 {
/* border: 3px white solid; */
}

#tp-col-1 {
/* border: 3px red solid; */
}

#tp-loop-col {
/* border: 3px green solid; */
margin-bottom: .5em;
display: flex;
justify-content: space-between;
}


/*_________________________________________________Past Logs___________________________________________________*/
#container-log-list {
background-color: #FCD5BE;
}

/*_________________________________________________Charts_______________________________________________*/
#chart-container {
background-color: white;
}

#all-charts-container{
background-color: #FCD5BE;
}

.view-past-logs {
display: flex;
justify-content: center;
}
/*_________________________________________________Portals_____________________________________________________*/
.portal-login-button {
    background-color: white;
    color: #355C7D;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    border: 10px #6C5B7B solid;
    border-radius: 10px;
    padding: .25rem 1.25rem;
}

/*_________________________________________________Teacher Profile_____________________________________________*/
.card {
    background-color: #FCD5BE;
    border-radius: .5em;
    /* margin: .5em; */
}

#tp-row-1 {
    /* border: 3px white solid; */
}

#tp-col-1 {
    /* border: 3px red solid; */
}

#tp-loop-col {
    /* border: 3px green solid; */
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
}


/*_________________________________________________Past Logs___________________________________________________*/
#container-log-list {
    background-color: #FCD5BE;
}

/*_________________________________________________Charts_______________________________________________*/
#chart-container {
    background-color: white;
}

#all-charts-container{
    background-color: #FCD5BE;
}

.view-past-logs {
    display: flex;
    justify-content: center;
}