/* ____________________________________________Color/Font Classes_______________________________________________ */
.white {
    background-color: #FEFEFA;
}

.light-pink {
    background-color: #DDBDBD;
}

.dark-pink {
    background-color: #B38D97;
}

.charcoal {
    background-color: #2D3339;
}

.arch {
    font-family: 'Archivo Narrow', sans-serif;
}

.bask {
    font-family: 'Libre Baskerville', serif;
}


/* ______________________________________________Base/Universal__________________________________________________ */
.nav-row {
    background: linear-gradient(#DDBDBD, #FEFEFA);
    height: 100px;
} /*gradient nav bar*/

.left-nav-col {
    /* border: 3px green solid; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-nav-link{
    display: block;
    overflow: visible;
    text-overflow: ellipsis;
    text-align: center;
    z-index: 1;
} /*aligns the nav Virtual Music Studio*/

.a-home {
    /* font-size: 2.25em; */
    /* border: 3px rgba(246, 114, 128) solid; */
    border-radius: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: #424B54;
    padding: 5px;
} /*Logo home links for skewed pages*/

.a-home:hover {
    text-decoration: none;
    color: #2D3339;
}

.a-home2 {
    font-size: 2.75em;
    /* border: 3px rgba(246, 114, 128) solid; */
    border-radius: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: #424B54;
    padding: 5px;
}/* logo links for NON-skewed pages */

.a-home2:hover {
    text-decoration: none;
    color: #2D3339;
}

.btn {
    color: #FEFEFA;
    background-color: #B38D97;
    border: 1px #B38D97 solid;
}

.btn:hover {
    color: white;
    background-color: #2D3339;
}

.btn-link-text {
    color: white;
    text-decoration: none;
    background-color: #B38D97;
}

h1 {
    color: #2D3339;
}

a {
    text-decoration: none;
    color: white;
}

.h1-page-header {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 5em;
    text-align: center;
}

h3 {
    font-size: 2em;
    color: #2D3339;
    font-family: 'Archivo Narrow', sans-serif;
}

/*____________________________________________________Homepage____________________________________________________*/

.homepage-background {
    background-color: #DDBDBD;
    background-image: url("/static/img/skew-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
    position: sticky;
    /* height: 70vh; */
    /* width: 100%; */
    z-index: -1;
} /* skewed homepage background */

.homepage-nav-button {
    font-size: 1.6em;
    color: #2D3339;

} /* Student/teacher homepage buttons */

#main-homepage-row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px black solid; */
}

.homepage-content {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 125px;
    padding-bottom: 300px;
}

#homepage-logo-col {
    padding: 5%;
    display: flex;
    align-items: flex-start;
    padding-bottom: 300px;
}

#homepage-logo {
    min-height: 600px;
    max-height: 600px;
    padding-bottom: 175px;
}
/*_________________________________________________Portals_____________________________________________________*/
.portal-background {
    /* background-color: #FEFEFA; */
    background-image: url("/static/img/skew-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 70%; */
    width: 90%;
    z-index: -1;
}

.login-row {
    margin-top: 30px;
}

.portal-container {
    height: 95vh;
    display: flex;
    align-items: center;
}

#teacher-reg-buttons-row {
    margin-bottom: 10px;
}

/*_________________________________________________Teacher Profile_____________________________________________*/
#tp-background {
    background: ;
}

#main-teacher-row {
    margin-top: 3em;
}

.teacher-profile-header {
    margin: .5em 0em .5em 0em;
    text-align: center;
}

#teacher-info-col {
    /* border: 3px orange solid; */
    padding: 10px;
}

#list-border{
    border: 3px #B38D97 solid;
    margin-left: 15px;
    display: block;
    justify-content: stretch;
    width: 100%;
    font-size: 1.15em;
    font-family: 'Archivo Narrow', sans-serif;
}

#notes-link {
    background-color: #B38D97;
    border: 1px #B38D97 solid;
}

#teacher-profile-students-row {
    /* border: 3px blue solid; */
    display: flex;
    justify-content: space-between;
}

#student-list-header {
    margin: 20px;
}

#teacher-profile-students-row {
    margin-top: 40px;
    margin-bottom: 120px;
}

.tp-right-col {
    margin-top: 10px;
}

#tp-loop-col {
    /* border: 3px purple solid; */
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 20em;
    background-color: #FEFEFA;
    border-radius: .5em;
    /* margin: .5em; */
    /* margin-left: .5em; */
    border: 3px #B38D97 inset;
    box-shadow: 20px 20px 50px #B38D97;

}


/*_________________________________________________Student Profile_____________________________________________*/



.student-profile-header {
    margin: .5em 0em .5em 0em;
    text-align: center;
}

#student-info-col {
    /* border: 3px orange solid; */
    padding: 10px;
}

/*____________________________________________Lesson Notes_____________________________________________*/
/* #teacher_note_form {
    margin: 30px;
} */

#top-note-row {
    margin-top: 35px;

}

#note-history {
    max-height: 30em;
    overflow-x: scroll;
    border: 3px black solid;
}

/*___________________________________________Student Profile__________________________________________*/

#main-student-row {
    margin-top: 3em;
}


/*___________________________________________Practice Data_________________________________________________*/
#container-past-logs {
    background-color: white;
}

#log-history-col {
    max-height: 65em;
    overflow-x: scroll;
    border: 3px black solid;
}