<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <link href="/static/css/VMS.css" rel="stylesheet">
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body class="background-color">
    <nav>
      <div class="row" id="nav-row">
          <div class="col-sm-6" id="left-nav-col">
              <span class="left-nav-link"><a class="a-home" href="#home">Virtual Music Studio</a>
          </div>
          <div class="col-sm-6">
          <div class="row">
              <div class="col-sm-4 offset-lg-4" id="right-nav-col">
              <span class="right-nav-link"><a class="a-home" href="/student-portal">Student</a></span>
              </div>
              <div class="col-sm-4" id="right-nav-col">
              <span class="right-nav-link"><a class="a-home" href="/teacher-portal">Teacher</a></span>
              </div>
          </div>
          </div>
      </div>    
  </nav>
    {% block body %}{% endblock %}

    <script src="/static/js/VMS-ajax.js"></script> 
    <script src="/static/js/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  </body>
</html>

