{% extends 'base.html' %}

{% block extend_head %}
    <script src="/static/js/chart.js"></script>
{% endblock %}

{% block title %}
    Practice Log Data
{% endblock %}
{% block body %}
<body class="white">
    <nav class="light-pink">
        <div class="row nav-row">
            <div class="col-12 d-flex justify-content-between left-nav-col">
                <a class="arch btn btn-lg home-btn-2" href="/">Virtual Music Studio</a>
                {% if teacher %}
                    <a class="btn btn-lg profile-return-btn " href="/teacher-profile">Return to teacher Profile</a>
                {% elif student %}
                    <a class="btn btn-lg profile-return-btn " href="/student-profile">Return to student Profile</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="container-past-logs">
        <div class="row header-rows">
            <div class="col d-flex justify-content-center text-center">
                <h1 class="h1-page-header">Practice Data and History</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row canvas-row mb-5">
                        <div class="col" id="chart-1-div">
                            <canvas id="bar-time"></canvas>
                        </div>
                </div>
                <div class="row canvas-row mb-5">
                    <div class="col" id="chart-2-div">
                        <canvas id="chart-3"></canvas>
                    </div>
                </div>
                <div class="row canvas-row mb-5">
                    <div class="col" id="chart-3-div">
                        <canvas id="myChart4"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row d-flex justify-content-center align-items-start">
                    <h3 class="row d-flex justify-content-center align-items-start">Log History</h3>
                    <div class="col-12" id="log-history-col">
                        <div class="" id="note-history">
                            {% for log in student_logs%}
                            <div class="col d-flex justify-content-center align-items-start">
                                <div class="card mb-5" id="notes-card-style">
                                    <div class="card-body">
                                        <h5 class="card-title notes-card-title">{{ log.log_date.strftime("%m/%d/%Y")}}</h5>

                                        <h6 class="card-subtitle mb-2 text-muted">Log Time: {{ log.log_date.strftime("%H:%M %p") }}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Log ID #: {{ log.log_id }}</h6>
                                        <ul class="card-text">
                                            <li>Minutes Practiced: {{ log.minutes_practiced }}</li>
                                            <li>Pieces Practiced: {{ log.pieces_practiced }}</li>
                                            <li>Notes: {{ log.practice_notes }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
