{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}
{% block body %}
<h1>charts charts charts!</h1>
<div class="container-fluid" id="all-charts-container">
    <div class="row" id="chart-row">
        <div class="col-10 offset-1" id="chart-container">
            <div class="row">
                <div class="col">
                    <span height="200">All charts for student</span>
                </div>
                <div class="col">
                    <span height="200" class="view-past-logs">View Past Logs</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 chart">
                    <canvas id="line-time" width="500" height="400"></canvas>
                </div>
                <div class="col-6 chart">
                    <canvas id="myChart" width="500" height="400"></canvas>      
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <canvas id="thirdChart" width="500" height="400"></canvas>
                </div>
                <div class="col-6" >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
