{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}
{% block body %}
<div class="container-fluid" id="home-container">
    <div class="row" id="main-homepage-row">
        <div class="col-sm-6" id="logo-col">
            <img class="img-fluid  .d-sm-none .d-md-block" id="logo" src="static/img/Dark-logo-cutout.png" height="100px" alt="">
        </div>
        <div class="col-sm-6" id="homepage-content-col">
            <div class="row">
                <div class="col">
                    <h1 class="homepage-content">A Virtual Studio For All Your Teaching Needs</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn"><a class="a-home" href="/student-portal">Student</a></button>
                    <button class="btn"><a class="a-home" href="/teacher-portal">Teacher</a></button>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}