{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}
{% block body %}
  <div class="navbar">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col" id="left-panel">
          <div class="row">
            <div class="col" >
              <h1>Some day this will be an app</h1>
            </div>
          </div>
      </div>
        <div class="col-sm-1"></div>
        <div class="col" id="panel">
          <div class="row">
            <div class="col">
              <h1></h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <form action="" method="POST">
                email: <input type="text">
                password: <input type="text">
                <input type="submit">
              </form>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
  
{% endblock %}