{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}
{% block body %}

<div class="container-fluid">
<div class="row" id="big-row">
    <div class="col-sm-6" id="logo-col">
        <img class="img-fluid" src="static/img/VMS-logo.png" alt="">
    </div>
    <div class="col-sm-6 " id="right-panel">
        <div class="row" id="right-first-row">
            <div class="col" id="student-button">
                <button id="homepage-button" onclick="myFunction()">Student</button>    
            </div>
        </div>
        <div class="row" id="right-last-row">
            <div class="col" id="teacher-button">
                <button id="homepage-button">Teacher </button>    
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}