{% extends 'base.html' %}

{% block title %}
    Messages
{% endblock %}
{% block body %}
<h1>Messages</h1>
<div class="container-main">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
        </div>
    </div>
</div>

<form id="message-id" action="/message" method="post">
    <p id="sms-id"></p>
    <input type="text" id="my-message" name="my-message">
    <input id="sms-submit" type="submit">
</form>

{% endblock %}