{% extends 'base.html' %}

{% block title %}
    Past Logs
{% endblock %}
{% block body %}
<div>
    <h1>Past logs for student ID of {{session['student']['student_id']}}!</h1>
    <p>for loop here to list out every past log and its log info</p>
    {% for log in student_logs%}
        <div>{{ log.log_date }}
        <ul>
            <li>Log ID #{{ log.log_id }}</li>
            <li>Minutes Practiced: {{ log.minutes_practiced }}</li>
            <li>Pieces Practiced: {{ log.pieces_practiced }}</li>
            <li>Notes: {{ log.practice_notes }}</li>
        </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}
