{% extends 'base.html' %}

{% block title %}
    Log Practice
{% endblock %}
{% block body %}
  <form id="create_log">
    <h3>Practice Log</h3>
    Date:   <input type="date" id="log_date" name="date">    <br>
    Start Time: <input type="time" id="log_start_time"> <br>
    End Time: <input type="time" name="" id="log_end_time"> <br>
    Pieces Practiced: <input type="text" id="log_pieces_practiced"> <br>
    Practice Notes: <input type="text" id="log_practice_notes"> <br>
    <input type="submit" value="submit">
    <input type="reset" value="reset">
  </form>
  <h3 id="log_added_response"></h3>
{% endblock %}