{% extends 'base.html' %}

{% block title %}
    Practice Log History
{% endblock %}
{% block body %}
  <form id="create_log">
    <h3>Practice Log for {{student.student_fname}} {{student.student_lname}}</h3>
    Student Id: <input type="number" id="log_student_id" name="log_student_id" value={{student.student_id}}> <br>
    Date: <input type="date" id="log_date" name="log_date">    <br>
    Minutes Practiced: <input type="number" id="log_minutes_practiced"> <br>
    Pieces Practiced: <input type="text" id="log_pieces_practiced"> <br>
    Practice Notes: <input type="text" id="log_practice_notes"> <br>
    <input type="submit" value="submit">
    <input type="reset" value="reset">
  </form>
  <h3 id="log_added_response"></h3>

  
  <button class="return-to-profile-button">
    <a class="charts-link" href="http://0.0.0.0:5000/student-profile">Return to Student Profile</a>
  </button> 
  <button class="past-logs-link-button">
    <a class="charts-link" href="http://0.0.0.0:5000/past-logs">See Log History</a>
  </button> 
  <button class="charts-link-button">
    <a class="charts-link" href="http://0.0.0.0:5000/charts">View Chart Data Graphs</a>
  </button> 
{% endblock %}