{% extends 'base.html' %}

{% block title %}Sign-up{% endblock %}
{% block body %}
  <h1>sign up page</h1>
  <div> 
    <h1>Are you a teacher or a student?</h1>
  </div>
  <div>
    <div id="teacher-reg-form">
      <form action="/teacher-profile" method="post" id="create-teacher">
        <h3>Teacher Registration Form</h3>
        First name: <input type="text" id="teacher-fname" name="teacher-fname"> <br> 
        Last name: <input type="text" id="teacher-lname" name="teacher-lname"> <br>
        Email: <input type="text" id="teacher-email" name="teacher-email"> <br>
        Phone (optional)<input type="text" id="teacher-phone" name="teacher-phone"> <br>
        Password<input type="text" id="teacher-password" name="teacher-password"> <br>
        <input type="submit" value="submit">
      </form>
    </div>
    <div>
      <form action="#"></form>
    </div>
  </div>
{% endblock %}