{% extends 'base.html' %}

{% block title %}
    Student Profile
{% endblock %}
{% block body %}
{% if student %}
  <h1>Welcome, {{student.student_fname}} {{student.student_lname}}</h1>
  <ul>
    <li>Student ID: {{student.student_id}}</li>
    <li>Student Email: {{student.student_email}}</li>
    <li>Private Teacher Name: {{teacher.teacher_fname}} {{teacher.teacher_lname}}</li>
    <li>Private Teacher Email: {{teacher.teacher_email}}</li>
    <li>Program Name: {{student.program_name}}</li>
    <li>Instrument: {{student.instrument}}</li>
  </ul>
  <br>
  <br>
  
  <submit id="practice-log-button"></button> <a id="practice-log-link" href="http://0.0.0.0:5000/practice-log">Log a Practice Session</a></submit> <br>
  <submit id="view-past-logs-button"></button> <a id="view-past-logs-link" href="http://0.0.0.0:5000/past-logs">View Past Logs</a></submit> <br>
  <submit id="view-practice-data-button"></button> <a id="view-practice-data-link" href="http://0.0.0.0:5000/charts">View Practice Data</a></submit>

  <form action=""> 
    <h3 id="date">Practice Goals for Week of: {{ date }} - March 7, 2021</h3>
    Days Practiced: <input type="number">
    Minutes Practiced: <input type="number">
  </form>

  {% endif %}  
{% endblock %}  