{% extends 'base.html' %}

{% block title %}
    Student Profile
{% endblock %}
{% block body %}
{% if session["student"] %}
  <h1>Welcome, {{session['student']['student_fname']}} {{session['student']['student_lname']}}</h1>
  <ul>
    <li>Student ID: {{session['student']['student_id']}}</li>
    <li>Student Email: {{session['student']['student_email']}}</li>
    <li>Private Teacher: {{session['student']['private_teacher']}}</li>
    <li>Private Teacher Email: {{session['student']['private_teacher_email']}}</li>
    <li>Program Name: {{session['student']['program_name']}}</li>
    <li>Instrument: {{session['student']['instrument']}}</li>
  </ul>
  <br>
  <br>
  <submit id="practice-log-button"></button> <a id="practice-log-link" href="http://0.0.0.0:5000/practice-log">Log a Practice Session</a></submit> <br>
  <submit id="view-past-logs-button"></button> <a id="view-past-logs-link" href="http://0.0.0.0:5000/past-logs">View Past Logs</a></submit>
{% endif %}  
{% endblock %}  