{% extends 'base.html' %}

{% block title %}Sign-up/Register{% endblock %}
{% block body %}
  <div class="container-fluid student-portal-container">
    <div class="row">
      <div class="col-md-6">
        <div id="student_login_form">
          <h3>Student Login</h3>
          <form id="login_student" action="/student-portal" method="post">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="student_login_email" name="student_login_email" placeholder="Email Address">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="student_login_pw" name="student_login_pw" placeholder="Password">
              </div>
              <div class="col">
                <button type="submit" class="btn">Login</button>
              </div>
            </div>
          </form>
          <br><br><br>
        </div>
      </div>
      <div class="col-md-6">
        <div id="student-registration-form">
          <h3>Student Registration</h3>
          <form id="create_student">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="student_fname" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="student_lname" placeholder="Last Name">
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" id="student_email" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="student_phone" placeholder="Phone">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">              
                <input type="text" class="form-control" id="private_teacher_name" placeholder="Private Teacher Name">
              </div>
              <div class="form-group col-md-6">                
                <input type="email" class="form-control" id="private_teacher_email" placeholder="Private Teacher Email">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="program_name" placeholder="Program Name (Optional)">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="instrument" placeholder="Instrument">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="password" class="form-control" name="student_password" id="student_password" placeholder="Password">
              </div>
            </div>
            <input type="submit" name="" id="" value="submit">
            <input type="reset" value="reset">
          </form>
          <h3 id="student_added_response"></h3>
        </div>
      </div>
      
      {#<!-- <div class="col"> 
        <div id="student_reg_form">
          <form id="create_student">
            <h3>Student Registration Form</h3>
            First name: <input type="text" id="student_fname" name="student_fname"/> <br> 
            Last name: <input type="text" id="student_lname" name="student_lname"/> <br>
            Email: <input type="email" id="student_email" name="student_email"/> <br>
            Private Teacher Name: <input type="text" id="private_teacher_name" name="private_teacher_name"/> <br>
            Private Teacher Email: <input type="email" id="private_teacher_email" name="private_teacher_email"/> <br>
            Program/school name: <input type="text" id="program_name" name="program_name"/> <br>
            Instrument: <input type="text" id="instrument" name="instrument"/> <br>
            Phone: <input type="text" name="student_phone" id="student_phone" value="format: +10000000000"> <br>
            Password: <input type="text" id="student_password" name="student_password"/> <br>
            <input type="submit" value="submit">
            <input type="reset" value="reset">
          </form>
          <h3 id="student_added_response"></h3>
        </div>
      </div> -->#}
    </div>
  </div>
{% endblock %}