{% extends 'base.html' %}

{% block title %}Sign-up/Register{% endblock %}
{% block body %}
<body class="portal-background">
  <nav>
    <div class="row" id="nav-row">
        <div class="col-12 d-flex justify-content-start left-nav-col">
          <a class="arch btn btn-lg home-btn-2" href="/">Virtual Music Studio</a>        </div>
    </div> 
    <div class="row">
      <div class="col d-flex justify-content-start left-nav-col">
          <a role="button" class="homepage-nav-button btn btn-lg d-flex" id="" href="/teacher-portal">Teacher</a>
          <a role="button" class="homepage-nav-button btn btn-lg" id="" href="/student-portal">Student</a>
      </div>
  </div>     
  </nav>
  <div class="container portal-container">
    <div class="row d-flex align-items-center ">
      <div class="col-lg-6 d-none d-sm-none d-lg-block">
        <img class="img-fluid portal-logo" src="static/img/Dark-logo-cutout.png" height="100px" alt="">
      </div>
      <div class="col-lg-6 mb-5">
        <div class="row login-row">
          <div class="col">
            <div id="student_login_form">
              <h3 class="arch login-reg-header">Student Login</h3>
              <form id="login_student" action="/student-portal" method="post">
                <div class="form-row">
                  <div class="form-group col-5">
                    <input type="text" class="form-control form-control-sm" id="student_login_email" name="student_login_email" placeholder="Email Address">
                  </div>
                  <div class="form-group col-5">
                    <input type="password" class="form-control form-control-sm" id="student_login_pw" name="student_login_pw" placeholder="Password">
                  </div>
                  <div class="form-group d-flex justify-content-start col-2">
                    <button type="submit" class="btn btn-sm standard-btn">Submit</button>
                  </div>
                </div>
                <div class="form-row">

                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="student-registration-form">
              <h3 class="arch login-reg-header">Student Registration</h3>
              <form id="create_student">
                <div class="form-row">
                  <div class="form-group col-6">
                    <input type="text" class="form-control form-control-sm" id="student_fname" placeholder="First Name">
                  </div>
                  <div class="form-group col-6">
                    <input type="text" class="form-control form-control-sm" id="student_lname" placeholder="Last Name">
                  </div>                  
                </div>
                <div class="form-row">
                  <div class="form-group col-6">
                    <input type="email" class="form-control form-control-sm" id="student_email" placeholder="Email">
                  </div>
                  <div class="form-group col-6">
                    <input type="text" class="form-control form-control-sm" id="instrument" placeholder="Instrument">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-6">              
                    <input type="text" class="form-control form-control-sm" id="private_teacher_name" placeholder="Private Teacher Name">
                  </div>
                  <div class="form-group col-6">                
                    <input type="email" class="form-control form-control-sm" id="private_teacher_email" placeholder="Private Teacher Email">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-6">
                    <input type="text" class="form-control form-control-sm" id="student_phone" placeholder="Phone">
                  </div>
                  <div class="form-group col-6">
                    <input type="text" class="form-control form-control-sm" id="program_name" placeholder="Program Name">
                  </div>                  
                </div>
                <div class="form-row" id="teacher-reg-buttons-row">
                  <div class="form-group col-6">
                    <input type="password" class="form-control form-control-sm" name="student_password" id="student_password" placeholder="Password">
                  </div>
                  <div class="form-group col-3 d-flex justify-content-end">
                    <button type="submit" class="btn standard-btn" data-toggle="modal" data-target="#student_reg_button">Submit</button>
                  </div>
                  <div class="form-group col-3 d-flex justify-content-start">
                    <button type="reset" value="reset" class="btn btn-sm standard-btn">Reset</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Window for Text Message -->
<div class="modal fade" id="student_reg_button" tabindex="-1" role="dialog" aria-labelledby="student_reg_buttonTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="student_reg_buttonTitle">Registration Successful!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="student_added_response"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn standard-btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
