{% extends 'base.html' %}

{% block title %}Sign-up{% endblock %}
{% block body %}
  <div id="student_login_form">
    <h3>Student Login</h3>
    <form action="" method="POST" id="login_student">
      Email: <input type="text" id="student_login_email" name="student_login_email">
      Password: <input type="text" id="student_login_pw" name="student_login_pw">
      <input type="submit">
    </form>
    <br><br><br>
  </div>
  <div>
    <div id="student_reg_form">
      <form action="#" method="post" id="create_student">
        <h3>Student Registration Form</h3>
        First name: <input type="text" id="student_fname" name="student_fname"> <br> 
        Last name: <input type="text" id="student_lname" name="student_lname"> <br>
        Email: <input type="text" id="student_email" name="student_email"> <br>
        Private-teacher: <input type="text" id="private_teacher" name="private_teacher"> <br>
        Program-name: <input type="text" id="program_name" name="program_name"> <br>
        Instrument: <input type="text" id="instrument" name="instrument"> <br>
        Password: <input type="text" id="student_password" name="student_password"> <br>
        <input type="submit" value="submit">
      </form>
      <h3 id="student_added_response"></h3>
    </div>
  </div>
{% endblock %}