{% extends 'base.html' %}

{% block title %}
    Student Profile
{% endblock %}
{% block body %}
{% if student %}
  <h1>Welcome, {{student.student_fname}} {{student.student_lname}}</h1>
  <ul>
    <li>Student ID: {{student.student_id}}</li>
    <li>Student Email: {{student.student_email}}</li>
    <li>Private Teacher Name: {{teacher.teacher_fname}} {{teacher.teacher_lname}}</li>
    <li>Private Teacher Email: {{teacher.teacher_email}}</li>
    <li>Program Name: {{student.program_name}}</li>
    <li>Instrument: {{student.instrument}}</li>
    <li>Phone: {{student.student_phone}}</li>
  </ul>
  <br>
  <br>
  <div class="student-card-link" value={{student.student_id}}>
    <button id="practice-log-button" type="button" value={{student.student_id}}><a id="practice-log-link" href="/practice-log">Log a Practice Session</a></button> <br>
    <button id="student-past-logs-button" type="button" value={{student.student_id}} onclick="getStudentIdForStudent('{{ student.student_id }}')">View Log History and Graphs</button> <br>
    {#<!-- <submit id="view-practice-data-button"></button> <a id="view-practice-data-link" href="/charts" value = {{student.student_id}} class="charts-card-link" >View Practice Data</a></submit> -->#}
  </div>
  {% endif %}  
{% endblock %}  
