{% extends 'base.html' %}

{% block title %}
    Teacher Profile
{% endblock %}
{% block body %}
{% if teacher %}
  <h1>Welcome to your Virtual Music Studio, {{teacher.teacher_fname}} {{teacher.teacher_lname}}</h1>
  <div> Teacher Info
    <ul>
      <li>Teacher ID: {{teacher.teacher_id}}</li>
      <li>Teacher Email: {{teacher.teacher_email}}</li>
      <li>Phone: {{teacher.teacher_phone}}</li>
    </ul>
</div>
{% endif %}  
<div class="container-main">
  <button type="button"><a href="/teacher-notes">Write a lesson note</a></button>
  <div>
    <h3>List of Students</h3>
  </div>
  <div class="row" id="tp-row-1">
    <div class="col-sm-6" id="tp-col-1">
      <div class="row" id="tp-row-2">
        {% for student in teacher.students %}
        <div class="col-lg-6" id="tp-loop-col">
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">{{ student.student_fname}} {{ student.student_lname}}</h5>
              <h6 class="card-subtitle mb-2 text-muted" id="h6-student-id">Student ID #: {{ student.student_id }}</h6>    
              <ul class="card-text">
                <li id="student_id_profile">Student ID #: {{ student.student_id }}</li>
                <li>Student email: {{ student.student_email }}</li>
                <li>Program name: {{ student.program_name }}</li>
                <li>Instrument: {{ student.instrument }}</li>
                <li>Student phone: {{ student.student_phone }}</li>
              </ul>
              <div id="chart-link-div">
                <button type="button"><a href="/teacher-profile/{{ student.student_id }}" class="card-link" id="student-profile-link">Student Profile Link</a></button>
                {#<!-- <a href="/teacher-profile-logs/{{ student.student_id }}" class="card-link" id="student-past-logs-link">Student Past Logs Link</a> -->#}
                <!-- {#<a href="/teacher-profile-chart{{ student.student_id }}" class="card-link" id="student-charts-link">Student Charts Link</a>#} -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <h3>Send a Message to a Student</h3>
      <form id="message-id" method="post">
        <select id="phone_dropdown_id">
          <option value="" id="">Choose a student</option>
        {% for student in teacher.students %} 
          <option id="" value={{ student.student_id }} >{{ student.student_fname }} {{ student.student_lname }}</option>
        {% endfor %}
        </select>
        <input type="text" name="message_content" placeholder="Write Message Here" id="message_content">
        <input id="sms-submit" class="btn btn-primary" data-toggle="modal" data-target="#teacher_text_message" type="submit">
      </form>
    </div>
  </div>
</div>


<!-- Modal Window for Text Message -->
<div class="modal fade" id="teacher_text_message" tabindex="-1" role="dialog" aria-labelledby="teacher_text_messageTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teacher_text_messageTitle">New Text from {{ teacher.teacher_fname }} {{ teacher.teacher_fname }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="sms-id"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}