{% extends 'base.html' %}

{% block title %}Sign-up/Register{% endblock %}
{% block body %}
<body class="portal-background">
  <nav>
    <div class="row" id="nav-row">
        <div class="col-12 d-flex justify-content-start" id="left-nav-col">
          <a class="arch btn btn-lg home-btn-2" href="/">Virtual Music Studio</a>        </div>
    </div>  
    <div class="row">
      <div class="col d-flex justify-content-start left-nav-col">
          <a role="button" class="homepage-nav-button btn btn-lg d-flex" id="" href="/teacher-portal">Teacher</a>
          <a role="button" class="homepage-nav-button btn btn-lg" id="" href="/student-portal">Student</a>
      </div>
  </div>    
  </nav>
  <div class="container portal-container">
    <div class="row portal-main-row d-flex justify-content-end align-items-center ">
      <div class="col-lg-6 d-none d-sm-none d-lg-block">
        <img class="img-fluid" id="" src="static/img/Dark-logo-cutout.png" height="100px" alt="">
      </div>
      <div class="col-lg-6 mb-5 login-reg-col">
        <div class="row login-row">
          <div class="col-12">
            <div id="teacher_login_form">
              <h3 class="arch login-reg-header">Teacher Login</h3>
              <form id="login_teacher" action="/teacher-portal" method="post">
                <div class="form-row">
                  <div class="form-group col-5">
                    <input type="text" class="form-control" id="teacher_login_email" name="teacher_login_email" placeholder="Email Address">                
                  </div>
                  <div class="form-group col-5">
                    <input type="password" class="form-control" id="teacher_login_pw" name="teacher_login_pw" placeholder="Password">                
                  </div>
                  <div class="form-group d-flex justify-content-start col-1">
                    <button type="submit" class="btn standard-btn">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row reg-row">
          <div class="col-12">
            <div id="teacher-reg-form">
              <h3 class="arch login-reg-header">Teacher Registration</h3>
              <form id="create_teacher">
                <div class="form-row">
                  <div class="form-group col-6">
                    <input type="text" class="form-control" id="teacher_fname" placeholder="First Name">
                  </div>
                  <div class="form-group col-6">
                    <input type="text" class="form-control" id="teacher_lname" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-6">
                    <input type="email" class="form-control" id="teacher_email" placeholder="Email">
                  </div>
                  <div class="form-group col-6">
                    <input type="text" class="form-control" id="teacher_phone" placeholder="Phone">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-6">              
                    <input type="password" class="form-control" id="teacher_password" placeholder="Password">
                  </div>
                  <div class="form-group col-3 d-flex justify-content-end">
                    <button type="submit" class="btn standard-btn" data-toggle="modal" data-target="#teacher_reg_button">Submit</button>
                  </div>
                  <div class="form-group col-3 d-flex justify-content-start">
                    <button type="reset" value="reset" class="btn standard-btn">Reset</button>
                  </div>
                </div>
              </form>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Window for Text Message -->
<div class="modal fade" id="teacher_reg_button" tabindex="-1" role="dialog" aria-labelledby="teacher_reg_buttonTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="teacher_reg_buttonTitle">Teacher Registration Successful!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="close-btn" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="modal-response" id="teacher_added_response"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}