{% extends 'base.html' %}

{% block title %}Sign-up/Register{% endblock %}
{% block body %}
  <div class="container-fluid teacher-portal-container">
    <div class="row">
      <div class="col-md-6">
        <div id="teacher_login_form">
          <h3>Teacher Login</h3>
          <form id="login_teacher" action="/teacher-portal" method="post">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="teacher_login_email" name="teacher_login_email" placeholder="Email Address">                
              </div>
              <div class="col">
                <input type="password" class="form-control" id="teacher_login_pw" name="teacher_login_pw" placeholder="Password">                
              </div>
              <div class="col">
                <input type="submit" value="submit" class="portal-login-button">
              </div>
            </div>
          </form>
          <br><br><br>
        </div>
      </div>
      <div class="col-md-6">
        <div id="teacher-reg-form">
          <h3>Teacher Registration</h3>
          <form id="create_teacher">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="teacher_fname" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="teacher_lname" placeholder="Last Name">
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" id="teacher_email" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="teacher_phone" placeholder="Phone">
              </div>
              <div class="form-group col-md-6">              
                <input type="password" class="form-control" id="teacher_password" placeholder="Password">
              </div>
            </div>
            <button type="submit" value="submit">Submit</button>
            <button type="reset" value="reset">Reset</button>
          </form>
          <h3 id="teacher_added_response"></h3>
        </div>
      </div>
        </div>
    </div>
  </div>
{% endblock %}


{#<!-- <div id="teacher_reg_form">
  <form id="create_teacher">
    <h3>Teacher Registration Form</h3>
    First name: <input type="text" id="teacher_fname" name="teacher_fname"> <br> 
    Last name: <input type="text" id="teacher_lname" name="teacher_lname"> <br>
    Email: <input type="email" id="teacher_email" name="teacher_email"> <br>
    Phone (optional): <input type="text" id="teacher_phone" name="teacher_phone" value="000-000-0000"> <br>
    Password: <input type="text" id="teacher_password" name="teacher_password"> <br>
    <input type="submit" value="submit">
    <input type="reset" value="reset">
  </form>
  <h3 id="teacher_added_response"></h3>
</div> -->#}