{% extends 'base.html' %}

{% block title %}
    Teacher Notes
{% endblock %}

{% block body %}

<body class="white">
  <nav class="light-pink">
    <div class="row nav-row">
        <div class="col-12 left-nav-col" >
            <span class="left-nav-link"><a class="a-home" href="/">Virtual Music Studio</a>
        </div>
        <div class="col-sm-6">
    </div>    
  </nav>
  <div class="container-main">
    <div class="row header-rows">
      <div class="col d-flex justify-content-center text-center">
        {% if teacher %}
        <h1 class="h1-page-header">{{ teacher.teacher_fname }} {{ teacher.teacher_lname }}'s Lesson Notes</h1>
      {% endif %}  
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="teacher_note_form">
          <h3>Write a new note</h3>
          <form id="create_note">
            <div class="form-row">
              {#<!-- <div class="form-group col-sm-3">
                <label for="note_teacher_id">Teacher ID</label>
                <input type="number" class="form-control" id="note_teacher_id" aria-describedby="emailHelp" value={{ teacher.teacher_id }}>
              </div> -->#}
              <div class="form-group col-sm-3">
                <label for="note_student_name">Student Name</label>
                <input type="text" class="form-control" id="note_student_name" placeholder="Student Name">
              </div>
              <div class="form-group col-sm-3">
                <label for="note_date">Lesson Date</label>
                <input type="date" class="form-control" id="note_date" placeholder="">
              </div>
              <div class="form-group col-sm-3">
                <label for="note_time">Lesson time</label>
                <input type="time" class="form-control" id="note_time" placeholder="">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-10">              
                <textarea class="md-textarea form-control" id="note_content" placeholder="Write your notes here!" rows="6"></textarea>
                <!-- <input type="text" class="form-control" id="note_content" placeholder="Write your notes here!">  -->
              </div>
              <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#teacher_note_button">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    <div class="row"  id="note-history">
          {% for note in teacher_notes%}
          <div class="col-md-6">
            <div>
              <ul>
                  <li>Note ID # {{ note.note_id }}</li>
                  <li>Student Name: {{ note.note_student_name }}</li>
                  <li>Lesson Date: {{ note.note_date }}</li>
                  <li>Lesson Time: {{ note.note_time }}</li>
                  <li>Lesson Notes: {{ note.note_content }}</li>
              </ul>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>

<!-- Modal Window for Note Creation -->
<div class="modal fade" id="teacher_note_button" tabindex="-1" role="dialog" aria-labelledby="teacher_note_buttonTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teacher_note_buttonTitle">New Note for {{ teacher.teacher_fname }} {{ teacher.teacher_lname }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 id="note_added_response"></h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{#<!-- <form id="create_note">
  <h3>Lesson Note</h3>
  Teacher Id: <input type="text" id="note_teacher_id" name="note_teacher_id" value={{ teacher.teacher_id }}> <br>
  Student Name: <input type="text" id="note_student_name" name="note_student_name"> <br>
  Lesson Date: <input type="date" id="note_date" name="note_date">    <br>
  Lesson Time: <input type="time" id="note_time"> <br>
  Notes: <input type="text" id="note_content" name="note_content"> <br>
  <input type="submit" value="submit">
  <input type="reset" value="reset">
</form>
<h3 id="note_added_response"></h3> --> #}
{% endblock %}  
