{% extends 'base.html' %}

{% block title %}Sign-up{% endblock %}
{% block body %}
  <div>
    <div id="teacher_login_form">
      <h3>Teacher Login</h3>
      <form action="" method="POST" id="login_teacher">
        Email: <input type="text" id="teacher_login_email" name="teacher_login_email">
        Password: <input type="text" id="teacher_login_pw" name="teacher_login_pw">
        <input type="submit">
      </form>
      <br><br><br>
    </div>
    <div id="teacher_reg_form">
      <form action="#" method="post" id="create_teacher">
        <h3>Teacher Registration Form</h3>
        First name: <input type="text" id="teacher_fname" name="teacher_fname"> <br> 
        Last name: <input type="text" id="teacher_lname" name="teacher_lname"> <br>
        Email: <input type="text" id="teacher_email" name="teacher_email"> <br>
        Phone (optional): <input type="text" id="teacher_phone" name="teacher_phone"> <br>
        Password: <input type="text" id="teacher_password" name="teacher_password"> <br>
        <input type="submit">
      </form>
      <h3 id="teacher_added_response"></h3>
    </div>
  </div>
{% endblock %}